<!DOCTYPE html>
<!--suppress HtmlUnknownTarget -->
<html lang="{{ site.lang | default: en-US }}">
	<head>
		<!-- Title and logo -->
		<title>{{ page.title }}</title>
		<link rel="icon" type="image/*" href="{{ page.favicon }}">

		<!-- Meta -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport"
			  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
		>

		<!-- Bootstrap -->
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
			  rel="stylesheet"
			  integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
			  crossorigin="anonymous"
		>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
				integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
				crossorigin="anonymous"
		></script>

		<!-- Google Code Render -->
		<script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>
		<link rel="stylesheet" href="/assets/css/code.css">

		<!-- Custom -->
		<link rel="stylesheet" href="/assets/css/bodge.css">
	</head>

	<body>
		<!-- Logo, Title and Navigation -->
		<div class="p-5" style="background: radial-gradient(rgba(255,0,137,0.13), rgba(255,0,137,0.06), rgba(255,0,137,0.02), transparent, transparent);">
			<!-- Logo -->
			<div style="display: flex; justify-content: center">
				<!--suppress CheckImageSize -->
				<img src="/assets/img/jamplate.png" alt="" width="300px" height="300px">
			</div>

			<!-- Title -->
			<div class="container-fluid" style="display: flex; justify-content: center; transform: translateY(-50px); ">
				<h1 style="font-size: 50pt; color: rgb(88,0,42); font-family: 'SimSun',serif">
					<b class="desktop">- _ - _ - _ - _</b>
					Jamplate
					<b class="desktop">_ - _ - _ - _ -</b>
				</h1>
			</div>

			<!-- Navigation -->
			<ul class="nav justify-content-center" style="transform: translateY(-50px)">
				{% for link in page.links %}
				<li class="nav-item">
					<a class="nav-link active" href="{{ link[1] }}" style="color: midnightblue;">
						<b>{{ link[0] }}</b>
					</a>
				</li>
				{% endfor %}
			</ul>
		</div>

		<!-- MAIN CONTENT -->
		<div class="container-xxl">
			<div class="card p-5" style="box-shadow: 0 0 5px 1px gray; border-color: #58002a">
				<section class="card-body p-5">
					{{ content }}
				</section>
			</div>
		</div>

		<!-- Repositories -->
		<div class="p-5" style="background: radial-gradient(rgba(82,2,42,0.13), rgba(82,2,42,0.06), rgba(82,2,42,0.02), transparent, transparent); transform: translateY(0px)">
			<!-- Repositories -->
			<!--			<div style="display: flex; justify-content: center; transform: translateY(0px)">-->
			<!--				{% for repo in page.repositories %}-->
			<!--				<a class="p-1" href="https://github.com/{{ repo['owner'] }}/{{ repo['name'] }}">-->
			<!--					<img src="https://github-readme-stats.vercel.app/api/pin?username={{ repo['owner'] }}&repo={{ repo['name'] }}&show_owner=1&bg_color=fceff80a,fceff20a,faeffc0a&border_color=58002a&title_color=000&text_color=000">-->
			<!--				</a>-->
			<!--				{% endfor %}-->
			<!--			</div>-->

			<!-- FOOTER  -->
			<div class="p-5" style="display: flex; justify-content: center; font-family: 'UD Digi Kyokasho NP-R',serif;">
				<footer>
					<b>Copyright 2020
						<a href="{{ site.github.owner_url }}">
							{{ site.github.owner_name }}
						</a>.
					   Licensed under the
						<a href="http://www.apache.org/licenses/LICENSE-2.0">
							Apache License, Version 2.0
						</a>
					</b>
				</footer>
			</div>
		</div>
	</body>
</html>